@import url("../fonts/Montserrat/Montserrat-Medium.ttf");

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
}

/* top-block */
.top-block {
  background-color: #f9f6f1;
  margin: 0px auto;
}

.top-block__content {
  width: 1110px;
  margin: 0px auto;
}

.top-block__header-item {
  float: left;
  font-family: "Montserrat", sans-serif;
}

.top-block__logo-block {
  width: 201px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.logo-link {
  font-size: 24px;
  font-weight: bold;
  color: #212121;
  text-decoration: none;
}

.logo-img {
  width: 40px;
  height: 40px;
  float: left;
}

.logo-text {
  display: block;
  float: right;
  margin-top: 5px;
}

/* top-block end */
